DESADV_D_96A_UN_EAN005
BGM|{{ shipment.number }}|351|9
DTM|{{ shipment.effective_date|replace('-','') }}|{{ shipment.planned_date|replace('-','') }}
RFF|DQ|{{ shipment.number }}|{{ shipment.effective_date|replace('-','') }}
RFF|ON|{{ shipment.reference }}|{{ shipment.effective_date|replace('-','') }}
NADMS|{{ shipment.company.party.edi_operational_point_head }}
NADMR|{{ shipment.customer.edi_operational_point_head }}
{% if move.origin -%}
NADBY|{{ shipment.edi_operational_point_head }}
{% else -%}
NADBY|{{ shipment.customer.edi_operational_point_head }}
{% endif -%}
NADSU|{{ shipment.company.party.edi_operational_point_head }}
NADDP|{{ shipment.delivery_address.edi_ean }}
NADUC|{{ shipment.delivery_address.edi_ean }}
NADSH|{{ shipment.warehouse.address.edi_ean }}
TDT|30
CPS|1
{% for move in shipment.outgoing_moves -%}
LIN|{{ move.code_ean13 }}|EN|{{ loop.index }}
{% if move.lot -%}
PIALIN||{{ move.product.code }}|||||||{{ move.lot.number }}
{% else -%}
PIALIN||{{ move.product.code }}|||||||
{% endif -%}
IMDLIN|F|{{ move.product.name|truncate(35, False, '', 0) }}
QTYLIN|12|{{ move.quantity }}|{{ UOMS.get(move.uom.symbol) }}
{% if move.lot -%}
PCILIN|36E|{% if move.lot.expiration_date -%}{{ move.lot.expiration_date|replace('-','') }}{% endif -%}||||||{{ move.lot.number }}
{% endif -%}
{% endfor -%}
